<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Список новостей</h1>

   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   <h3>Сегодня: {% current_time %} </h3>
   <h3> Всего постов: {{ news_count }} </h3>

{% if sub_button %}
    {% if subscribed %} уже подписан {% endif %}
        <br>
            {% if subscribed %}
                <form action="/user/unsub/{{ filterset.data.category }}/" method="POST">
                    {% csrf_token %}
                    <button>Отписаться</button>
                </form>
            {% else %}
                <form action="/user/sub/{{ filterset.data.category }}/" method="POST">
                    {% csrf_token %}
                    <button>Подписаться</button>
                </form>
            {% endif %}
        <br>
{% endif %}

   {% if news_flist %}
              <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Создано</th>
              <th scope="col">Новость (кратко)</th>
            </tr>
          </thead>
  <tbody>


           {% for one in news_flist %}
            <tr class="light">
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ one.title|censor }}</td>
               <td>{{ one.creation|date:'d.M.Y' }}</td>
               <td>{{ one.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
   {% else %}
       <h2>Постов пока нет.</h2>
   {% endif %}


<div class="container">
  <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% url_replace page=1 %}">1</a>
        </li>
            {% if page_obj.previous_page_number != 1 %}
      <li class="page-item">
                <a class="page-link disabled"> ... </a>
      </li>
                <li class="page-item">
                <a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}
        {% endif %}

         {# Информация о текущей странице #}
    {% if page_obj.paginator.num_pages > 1 %}
      <li class="page-item">
        <a class="page-link active"> {{ page_obj.number }} </a>
      </li>
    {% endif %}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
             <li class="page-item">
       <a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                 </li>
       {% if paginator.num_pages != page_obj.next_page_number %}
      <li class="page-item">
           <a class="page-link disabled"> ... </a>
      </li>
      <li class="page-item">
           <a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
          </li>
       {% endif %}
   {% endif %}
  </ul>
</div>


{% endblock content %}
