<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет Product -->
{% block title %}
Новость
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
    <h3>Сегодня: {% current_time '%d %b %Y' %} </h3>
    <h2>Новость "{{ one_new.title|censor }}" от : {{ one_new.creation|date:'d.m.Y' }} </h2>
       <table>
           <tr>
               <td>Полный текст новости</td>
           </tr>

           <tr>
               <td>{{ one_new.text|censor }}</td>
           </tr>

       </table>
{% endblock content %}