<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Список новостей</h1>

   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   <h3>Сегодня: {% current_time %} </h3>
   <h3> Здесь по заданию ТОЛЬКО НОВОСТИ! Всего новостей: {{ news_count }} </h3>

{% if sub_button %}
    Категория {{ filterset.data.category }}
    {% if subscribed %} уже подписан {% endif %}

            {% if subscribed %}
                <form action="/user/unsub/{{ filterset.data.category }}/" method="POST">
                    {% csrf_token %}
                    <button>Отписаться</button>
                </form>
            {% else %}
                <form action="/user/sub/{{ filterset.data.category }}/" method="POST">
                    {% csrf_token %}
                    <button>Подписаться</button>
                </form>
            {% endif %}


{% endif %}

   {% if news_flist %}
              <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Создано</th>
              <th scope="col">Новость (кратко)</th>
            </tr>
          </thead>
  <tbody>


           {% for one in news_flist %}
            <tr class="light">
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ one.title|censor }}</td>
               <td>{{ one.creation|date:'d.M.Y' }}</td>
               <td>{{ one.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
   {% else %}
       <h2>Новостей пока нет.</h2>
   {% endif %}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {% if page_obj.paginator.num_pages > 1 %}
        {{ page_obj.number }}
    {% endif %}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
