<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
Посты
{% endblock title %}

{% block content %}
<h1>Список "{{ obj_type1 }}"</h1>
   <hr>
   <h3>Сегодня: {% current_time %} </h3>
   <h3> {{ obj_type2 }} всего: {{ post_count }} </h3>
   {% if post_list %}
       <table>
           <tr>
               <td>Название</td>
               <td>Создано</td>
               <td>Новость (кратко)</td>
           </tr>

           {% for one in post_list %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->

               <td>{{ one.title|censor }}</td>
               <td>{{ one.creation|date:'d.M.Y' }}</td>
               <td>{{ one.text|truncatechars:20|censor }}</td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{{ obj_type2 }} пока нет.</h2>
   {% endif %}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
    {% if page_obj.paginator.num_pages > 1 %}
        {{ page_obj.number }}
    {% endif %}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
